<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h2>Team Name: <%= @form_data[:name] %></h2>
  <p>Coach: <%= @form_data[:coach] %></p>
  <p>Point Guard: <%= @form_data[:pg] %></p>
  <p>Shooting Guard: <%= @form_data[:sg] %></p>
  <p>Small Forward: <%= @form_data[:sf] %></p>
  <p>Power Forward: <%= @form_data[:pf] %></p>
  <p>Center: <%= @form_data[:c] %></p>

 </body>
</html>


